<?xml version="1.0" encoding="utf-8"?>
<MDFConfig>
  <Exchanges>
    <Exchange>
      <!-- 0 = TCP, 1 = UDP, 2 = TCP SERVER -->
      <ConnectionType>2</ConnectionType>
      <Enabled>1</Enabled>
      <ID>Abu Dhabi Stock Exchange (ADX)</ID>
      <IP>127.0.0.1</IP>
      <Port>4000</Port>
      <BufferSize>-4</BufferSize>
      <Delimiter>OwoxPT==</Delimiter>
      <!-- 0 = ADSM, 1 = DFM, 2 = TADAWUL -->
      <ParserType>0</ParserType>
      <!-- 0 = Binary, 1 = XML -->
      <PublishFormat>1</PublishFormat>
      <!-- 0 = TCP, 1 = UDP -->
      <PublisherConnectionType>0</PublisherConnectionType>
      <PublishPort>4001</PublishPort>
      <MBOEnabled>0</MBOEnabled>
      <MBPEnabled>0</MBPEnabled>
      <!-- 0 = TCP, 1 = UDP -->
      <RecoveryConnectionType>0</RecoveryConnectionType>
      <RecoveryFile>Hello.sqlite</RecoveryFile>
    </Exchange>
    <Exchange>
      <!-- 0 = TCP, 1 = UDP -->
      <ConnectionType>0</ConnectionType>
      <Enabled>1</Enabled>
      <ID>Dubai Finanical Market (DFM)</ID>
      <IP>127.0.0.1</IP>
      <Port>9000</Port>
      <BufferSize>-2</BufferSize>
      <Delimiter>OwoxPT===</Delimiter>
      <!-- 0 = ADSM, 1 = DFM, 2 = TADAWUL -->
      <ParserType>1</ParserType>
      <!-- 0 = Binary, 1 = XML -->
      <PublishFormat>0</PublishFormat>
      <!-- 0 = TCP, 1 = UDP -->
      <PublisherConnectionType>0</PublisherConnectionType>
      <PublishPort>10001</PublishPort>
      <MBOEnabled>0</MBOEnabled>
      <MBPEnabled>1</MBPEnabled>
      <!-- 0 = TCP, 1 = UDP -->
      <RecoveryConnectionType>0</RecoveryConnectionType>
      <RecoveryFile>FeedServer2.sqlite</RecoveryFile>
    </Exchange>
    <Exchange>
      <!-- 0 = TCP, 1 = UDP -->
      <ConnectionType>0</ConnectionType>
      <Enabled>0</Enabled>
      <ID>Saudi Stock Exchange (Tadawul)</ID>
      <IP>127.0.0.1</IP>
      <Port>9000</Port>
      <BufferSize>-2</BufferSize>
      <Delimiter>OwoxPT==</Delimiter>
      <!-- 0 = ADSM, 1 = DFM, 2 = TADAWUL -->
      <ParserType>2</ParserType>
      <!-- 0 = Binary, 1 = XML -->
      <PublishFormat>1</PublishFormat>
      <!-- 0 = TCP, 1 = UDP -->
      <PublisherConnectionType>0</PublisherConnectionType>
      <PublishPort>10002</PublishPort>
      <MBOEnabled>1</MBOEnabled>
      <MBPEnabled>1</MBPEnabled>
      <!-- 0 = TCP, 1 = UDP -->
      <RecoveryConnectionType>0</RecoveryConnectionType>
      <RecoveryFile>FeedServer3.sqlite</RecoveryFile>
    </Exchange>
    <Exchange>
      <!-- 0 = TCP, 1 = UDP -->
      <ConnectionType>0</ConnectionType>
      <Enabled>0</Enabled>
      <ID>Karachi Stock Exchange (KSE)</ID>
      <IP>203.130.0.52</IP>
      <Port>5050</Port>
      <BufferSize>-2</BufferSize>
      <Delimiter>OwoxPT==</Delimiter>
      <!-- 0 = ADSM, 1 = DFM, 2 = TADAWUL -->
      <ParserType>2</ParserType>
      <!-- 0 = Binary, 1 = XML -->
      <PublishFormat>1</PublishFormat>
      <!-- 0 = TCP, 1 = UDP -->
      <PublisherConnectionType>0</PublisherConnectionType>
      <PublishPort>4000</PublishPort>
      <MBOEnabled>1</MBOEnabled>
      <MBPEnabled>1</MBPEnabled>
      <!-- 0 = TCP, 1 = UDP -->
      <RecoveryConnectionType>0</RecoveryConnectionType>
      <RecoveryFile>Hello.sqlite</RecoveryFile>
    </Exchange>
  </Exchanges>
  <ConfigurationService>
    <Port>4005</Port>
  </ConfigurationService>
</MDFConfig>