<?xml version="1.0" encoding="utf-8"?><MDFConfig><Exchanges><Exchange><!-- 0 = TCP, 1 = UDP --><ConnectionType>TCP</ConnectionType><Enabled>1</Enabled><ID>ADSM</ID><IP>Greedo</IP><Port>9000</Port><BufferSize>1024</BufferSize><!-- 0 = ADSM, 1 = DFM, 2 = TADAWUL --><ParserType>0</ParserType><!-- 0 = Binary, 1 = XML --><PublishFormat>XML</PublishFormat><!-- 0 = TCP, 1 = UDP --><PublisherConnectionType>0</PublisherConnectionType><PublishPort>10000</PublishPort><MBOEnabled>True</MBOEnabled><MBPEnabled>True</MBPEnabled><!-- 0 = TCP, 1 = UDP --><RecoveryConnectionType>0</RecoveryConnectionType><RecoveryFile>Hello.xml</RecoveryFile><RecoveryPort>12000</RecoveryPort></Exchange></Exchanges></MDFConfig>